

.product {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
  border-radius: 70%;
  width: 10%;  
}
